[submodule "vendor/plugins/sms-fu"]
	path = vendor/plugins/sms-fu
	url = git://github.com/brendanlim/sms-fu.git
[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
