[submodule "vendor/plugins/restful-authentication"]
	path = vendor/plugins/restful-authentication
	url = git://github.com/technoweenie/restful-authentication.git
[submodule "vendor/plugins/sms-fu"]
	path = vendor/plugins/sms-fu
	url = git://github.com/brendanlim/sms-fu.git
