<div id="guest" style="font-size:123%;">
  <b>Your reminder was scheduled!</b>

  <div style="padding:5px;margin-bottom:20px;margin-top:20px;font-size:145%;">
    <%= link_to 'Sign up', signup_path, :style => 'font-weight:bold;color: #000;' %> and we'll put it into your new account.
  </div>


  <div style="font-size:83%;">... or you can <%= link_to 'schedule another reminder', root_path, :style => 'color: #000;' %></div>
</div>
