html {
  background-color: #FEE471;
}
#custom-doc { width:24.62em;*width:24.02em;min-width:320px; margin:auto; text-align:left; }
#addressBook {
  margin-top: 3px;
  display: none;
  position: absolute;
}
#timeDiv { 
  margin-top: -5px;
  width: 130px;
  margin-left:96px;
  padding: 0.5em;
  display: none;
}
#timeDiv a {
  color: #0066CC;
}
#timeDiv table {
  width: 10em;
}
#timeDiv th {
  text-align:center;
  font-weight: bold;
  width: 5em;
  background: #eee;
}
#timeDiv td {
  width: 5em;
  height: 1.5em;
  font-size: 12px;
  background; #fff;
  text-align: right;
  padding: 0.25em 0.75em 0.25em 0.25em;
}
#timeDiv td:hover {
  background: #0066CC;
}
#timeDiv td:hover a {
  color: #fff;
}
#timeDiv .am {
  border-right: 1px solid #cccccc;
}
.field_with_errors input {
  border:3px solid pink;
}
.errorExplanation {
  background-color: pink;
  border: 1px solid maroon;
  padding: 4px;
  margin-bottom: 15px;
  width: 270px;
} 
.errorExplanation p {
  font-weight: bold;
}
.grey {
  background-color: #eee;
}
#divider {
  //border-top: 4px solid #000E2E;
}
#sms-form {
  background-color: #FFF;
  padding: 15px;
}
#sms-form label {
  font-size: 140%;
}
.border {
}
a {
  color: #000;
}

#notice {
  background-color: #FFFF99;
  padding: 10px;
  border: 1px solid gray;
  margin-bottom: 10px;
}
.hd {
  text-align: center;
  background-color: #fff;
  color: #fff;
}
#title {
  color: #F4FFF9;
  font-size:280%;
  font-weight: bold;
}
.hd a {
  text-decoration: none;
}
#login {
  margin-top:10px;
}
#sms-form em {
  color: #777;
  font-size: 86%;
}
#sms-form label {
  display: block;
  color: #031831
}
#cal1Container {
  display: none;
}
#reminder-count {
  font-size: 120%;  
  border-bottom: 1px solid #eee;
}
#reminder-to {
  font-size: 120%;  
}
#signup-box {
  background-color: #eee;
  padding:5px;
  margin-bottom:5px;
}
.day {
  font-size: 120%;
  color: #031831
}
a.cancel {
  background-color: red;
  padding: 2px;
  font-weight: bold;
  color: #fff;
  font-size: 80%;
  margin-right: 5px;
  text-decoration: none;
}
a.remove {
  background-color: #777;
  color: #fff;
  padding: 2px;
  font-weight: bold;
  font-size: 80%;
  margin-right: 5px;
  text-decoration: none;
}
#cal1Container {
  position:absolute;
}
#timeDiv {
  position:absolute;
}
.fd {
  color: #777;
  font-size:84%;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.messages {
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 10px;
}

a {
 color: #000;
}
#reminder-to {
  color: #2B2825;
}
.signup {
  background-color: #eee;
  color: #000;
  padding: 6px;
}
.login {
  color: #000;
}
#reminders {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}
#guest {
  padding: 15px;
  background-color: #fff;
}
.fd a {
  color: #000E2E;
}

#reminders table td {
  padding: 0px;
  padding-top: 5px;
  font-size: 90%;
  border: 0;
}

input[type="text"],
input[type="password"] {
  width: 275px;
}

.message {
  font-size:120%;
}

em.email {
  color: #777;
}

#please-login {
 padding:5px;
 background-color:#C2C8D1;
 color: #000;
 margin-bottom:5px;
}

.bold {
  font-weight:bold;
}

#please-login a {
  color: #000;
}
.roundedcornr_box_700903 {
  margin-top:20px;
  background: #ffffff;
}
.roundedcornr_top_700903 div {
  background: url(/images/roundedcornr_700903_tl.png) no-repeat top left;
}
.roundedcornr_top_700903 {
  background: url(/images/roundedcornr_700903_tr.png) no-repeat top right;
}
.roundedcornr_bottom_700903 div {
  background: url(/images/roundedcornr_700903_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom_700903 {
   background: url(/images/roundedcornr_700903_br.png) no-repeat bottom right;
}

.roundedcornr_top_700903 div, .roundedcornr_top_700903, 
.roundedcornr_bottom_700903 div, .roundedcornr_bottom_700903 {
  width: 100%;
  height: 30px;
  font-size: 1px;
}

