#custom-doc { width:24.62em;*width:24.02em;min-width:320px; margin:auto; text-align:left; }
#addressBook {
  margin-top: 3px;
  display: none;
  position: absolute;
}
#timeDiv { 
  margin-top: -5px;
  width: 130px;
  margin-left:92px;
  padding: 0.5em;
  display: none;
}
#timeDiv a {
  color: #0066CC;
}
#timeDiv table {
  width: 10em;
}
#timeDiv th {
  text-align:center;
  font-weight: bold;
  width: 5em;
  background: #eee;
}
#timeDiv td {
  width: 5em;
  height: 1.5em;
  font-size: 12px;
  background; #fff;
  text-align: right;
  padding: 0.25em 0.75em 0.25em 0.25em;
}
#timeDiv td:hover {
  background: #0066CC;
}
#timeDiv td:hover a {
  color: #fff;
}
#timeDiv .am {
  border-right: 1px solid #cccccc;
}
.field_with_errors input {
  border:3px solid pink;
}
.errorExplanation {
  background-color: pink;
  border: 1px solid maroon;
  padding: 4px;
  margin-bottom: 15px;
  width: 300px;
} 
.errorExplanation p {
  font-weight: bold;
}
.grey {
  background-color: #eee;
}
#divider {
  border-top: 4px solid #000E2E;
}
#sms-form {
  background-color: #FFF;
  padding: 15px;
}
#sms-form label {
  font-size: 140%;
}
.border {
  border:4px solid #000E2E;
}
a {
  color: #0066CC;
}

#notice {
  background-color: #FFFF99;
  padding: 10px;
  border: 1px solid gray;
  margin-bottom: 10px;
}
.hd {
  text-align: center;
  padding: 5px; 
  background-color: #000E2E;
  color: #fff;
}
#title {
  color: #F4FFF9;
  font-size:280%;
  font-weight: bold;
}
.hd a {
  text-decoration: none;
}
#login {
  margin-top:10px;
}
#sms-form em {
  color: #777;
  font-size: 86%;
}
#sms-form label {
  display: block;
  color: #000E2E;
}
#cal1Container {
  display: none;
}
#reminder-count {
  font-size: 120%;  
  border-bottom: 1px solid #eee;
}
#reminder-to {
  font-size: 120%;  
}
#signup-box {
  background-color: #eee;
  padding:5px;
  margin-bottom:5px;
}
.day {
  font-size: 120%;
  color: #000E2E;
}
a.cancel {
  background-color: red;
  padding: 2px;
  font-weight: bold;
  color: #fff;
  font-size: 80%;
  margin-right: 5px;
  text-decoration: none;
}
a.remove {
  background-color: #777;
  color: #fff;
  padding: 2px;
  font-weight: bold;
  font-size: 80%;
  margin-right: 5px;
  text-decoration: none;
}
#cal1Container {
  position:absolute;
}
#timeDiv {
  position:absolute;
}
.fd {
  color: #777;
  font-size:84%;
  margin-top: 20px;
  text-align: center;
}

.messages {
  background-color: #000E2E;
  color: #FFF;
  text-align: center;
  padding: 10px;
}

a {
 color: #CDEFFF;
}
#reminder-to {
  color: #2B2825;
}
.signup {
  background-color: #F4FFF9;
  color: #000E2E;
  padding: 3px;
}
.login {
}
#reminders {
  padding: 15px;
  background-color: #F4FFF9;
}

.fd a {
  color: #000E2E;
}

#reminders table td {
  padding: 0px;
  padding-top: 5px;
  font-size: 90%;
  border: 0;
}

#reminders table {
  margin-top: 10px;
}

input[type="text"],
input[type="password"] {
  width: 275px;
}

.message {
  font-size:120%;
}

em.email {
  color: #777;
}

#please-login {
 padding:5px;
 background-color:#C2C8D1;
 color: #000;
 margin-bottom:5px;
}

.bold {
  font-weight:bold;
}

#please-login a {
  color: #000;
}
