#timeDiv { 
  margin-top: -5px;
  width: 130px;
  margin-left:92px;
  padding: 0.5em;
  display: none;
}
#timeDiv a {
  color: #0066CC;
}
#timeDiv table {
  width: 10em;
}
#timeDiv th {
  text-align:center;
  font-weight: bold;
  width: 5em;
  background: #eee;
}
#timeDiv td {
  width: 5em;
  height: 1.5em;
  font-size: 12px;
  background; #fff;
  text-align: right;
  padding: 0.25em 0.75em 0.25em 0.25em;
}
#timeDiv td:hover {
  background: #0066CC;
}
#timeDiv td:hover a {
  color: #fff;
}
#timeDiv .am {
  border-right: 1px solid #cccccc;
}
.field_with_errors input {
  border:3px solid pink;
}
.errorExplanation {
  background-color: pink;
  border: 1px solid maroon;
  padding: 4px;
  margin-bottom: 15px;
  width: 300px;
} 
.errorExplanation p {
  font-weight: bold;
}
.grey {
  background-color: #eee;
}
#sms-form label {
  font-size: 140%;
}
#sms-form {
  width:320px;
}
.border {
  border: 4px solid #eee;
  padding: 15px;
}
a {
  color: #0066CC;
}

#notice {
  background-color: #FFFF99;
  padding: 10px;
  border: 1px solid gray;
  margin-bottom: 10px;
}
.hd {
  padding: 5px; 
  margin-bottom: 20px; 
  background-color: #DDF5F5;
}
.title {
  font-size:240%;
}
#login {
  float:right;
  margin-right:15px;
}
#sms-form em {
  color: gray;
}
#sms-form label {
  display: block;
}
#cal1Container {
  display: none;
}
#reminder-count {
  font-size: 120%;  
  border-bottom: 1px solid #eee;
}
#signup-box {
  background-color: #eee;
  padding:5px;
  margin-bottom:5px;
}
.day {
  font-size: 120%;
  background-color: #eee;
}
a.remove {
  font-size: 80%;
}
#reminders li {
  font-size: 90%;
  list-style: none;
  margin-left: -22px;
}
#cal1Container {
  position:absolute;
}
#timeDiv {
  position:absolute;
}
.fd {
  color: #ccc;
  font-size:84%;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 40px;
}
