<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>textremindme - free text message and sms messages</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/reset/reset.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/fonts/fonts.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/grids/grids.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/base/base.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/calendar/assets/skins/sam/calendar.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/calendar/calendar-min.js"></script>
    <script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/datasource/datasource-min.js"></script> 
    <script type="text/javascript" src="/javascripts/application.js"></script>
  </head>
  <body id="doc2" class="yui-skin-sam">
    <div class="hd yui-gc">
      <div class="yui-u first">
        <span class="title">text<b>remind</b>me</span>
        schedule simple reminders for any phone or email
      </div>
      <div id="login">
        <% unless logged_in? %>
        <%= link_to 'Sign In', login_path %> or <%= link_to '<b>Sign up</b>', signup_path %>
        <% else %>
        <%= link_to 'Sign Out', logout_path  %>
        <% end %>
      </div>
    </div>
    <div class="bd">
      <%= yield %>
    </div>
  </body>
</html>
